*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent
{
    margin: 20px;
}
input
{
    margin: 5px;
    font-size: 18px;
}
button
{
    margin-top: 20px;
    padding: 5px;
}
#bg
{
    margin: 20px;
}